@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
  --HeaderBg: #ff013c;
  --menuBg: #000000;
  --space-base: 1.25rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

section {
  background-image: url(../../assets/images/movie-bg.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* padding: 1.25rem; */
}

picture {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
