* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: sans-serif;
}

/* body {
  padding: 1.25rem;
} */

picture {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
