section.form-login {
  /* border: 2px black solid; */
  height: 75vh;
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  /*   form {
    width: 100%;
    margin: 0 auto;
    padding: 1.25rem;
  } */
}
