@import './normalize';
@import './global';
@import './header';
@import './footer';
@import './media';

:root {
  --HeaderBg: #ff013c;
  --menuBg: #757272;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  h2 {
    text-align: center;
  }

  section {
    padding: 1.25rem;
  }

  #About {
    display: flex;
    flex-direction: column;
  }

  #About picture img {
    width: 60%;
  }

  .about-item1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
  }

  .about-item1 picture {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .about-item1 picture img {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .about-item2 {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
  }

  .about-item2 picture {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .about-item2 picture img {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

/* Botones */

.button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 15px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.button:hover {
  color: #e8e8e8;
}

.button:hover::before {
  width: 100%;
}

.azmani {
  display: flex;
  justify-content: left;
  background-color: black;
  color: white;

  p {
    margin: 1.25rem;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: lightcoral;
  }

  span {
    color: red;
  }
}
