@import './normalize';
@import './global';
@import './header';
@import './footer';
@import './media';

:root {
  --HeaderBg: #ff013c;
  --menuBg: #757272;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  h2 {
    text-align: center;
  }

  section {
    padding: 1.25rem;

    /*   Estilo de las tarjetas */
    .contenedor {
      height: 100vh;
      width: 75vw;
      max-height: 800px;
      max-width: 1280px;
      min-height: 600px;
      min-width: 1000px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
    }

    .border {
      height: 369px;
      width: 290px;
      background: transparent;
      border-radius: 10px;
      transition: border 1s;
      position: relative;
    }

    &:hover {
      border: 1px solid white;
    }

    .card {
      height: 379px;
      width: 300px;
      background: grey;
      border-radius: 10px;
      transition: background 0.8s;
      overflow: hidden;
      background: black;
      box-shadow: 0 70px 63px -60px #000000;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    .card0 {
      background: url(../../assets/images/elhombre.jpg) center center no-repeat;
      background-size: 300px;

      &:hover {
        background: url('../../assets/images/elhombre.jpg') left center
          no-repeat;
        background-size: 600px;

        h2 {
          opacity: 1;
        }

        .ocult {
          opacity: 1;
        }
      }

      h2 {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: white;
        margin: 20px;
        opacity: 0;
        transition: opacity 1s;
      }
    }

    .card1 {
      background: url('../../assets/images/dog.jpg') center center no-repeat;
      background-size: 300px;

      &:hover {
        background: url('../../assets/images/dog.jpg') center center no-repeat;
        background-size: 600px;

        h2 {
          opacity: 1;
        }

        .ocult {
          opacity: 1;
        }
      }

      h2 {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: white;
        margin: 20px;
        opacity: 0;
        transition: opacity 1s;
      }
    }

    .card2 {
      background: url('../../assets/images/doctor.jpg') center center no-repeat;
      background-size: 300px;

      &:hover {
        background: url('../../assets/images/doctor.jpg') right center no-repeat;
        background-size: 600px;

        h2 {
          opacity: 1;
        }

        .ocult {
          opacity: 1;
        }
      }

      h2 {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: white;
        margin: 20px;
        opacity: 0;
        transition: opacity 1s;
      }
    }

    .card3 {
      background: url('../../assets/images/jurassic.jpg') center center
        no-repeat;
      background-size: 300px;

      &:hover {
        background: url('../../assets/images/jurassic.jpg') center center
          no-repeat;
        background-size: 600px;

        h2 {
          opacity: 1;
        }

        .ocult {
          opacity: 1;
        }
      }

      h2 {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: white;
        margin: 20px;
        opacity: 0;
        transition: opacity 1s;
      }
    }

    .sinopsis {
      position: absolute;
      fill: #fff;
      color: #fff;
      height: 130px;
      top: 226px;
      width: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }

    .ocult {
      opacity: 0;
      transition: opacity 1s;
    }
  }
}

#About {
  display: flex;
  flex-direction: column;
}

#About picture img {
  width: 60%;
}

.about-item1 {
  /*     display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    padding: 2rem; */
  flex: 1 1 100px;
}

.about-item1 picture {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.about-item1 picture img {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.about-item2 {
  /*     display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin: 0 auto;
    padding: 2rem; */
  flex: 1 1 100px;
}

.about-item2 picture {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.about-item2 picture img {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

/* Botones */

.button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 15px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.button:hover {
  color: #e8e8e8;
}

.button:hover::before {
  width: 100%;
}

.azmani {
  display: flex;
  justify-content: left;
  background-color: black;
  color: white;

  p {
    margin: 1.25rem;
  }

  a {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    color: white;
  }

  a:hover {
    color: lightcoral;
  }

  span {
    color: red;
  }

  /*   Scroll arriba */

  #scrollToTopBtn {
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    line-height: 48px;
    width: 48px;
  }
}
